@import './variables.less';
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/** scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f7fa;
}

::-webkit-scrollbar-track {
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 4px;
}

::-webkit-scrollbar-button {
  height: 0px;
  background-color: #b0aeda;
}

/** antd menu css reset */
.ant-menu-horizontal {
  line-height: 56px;
  border: none;
  background-color: transparent;
  color: @grey1;
}
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  border: none;
  font-weight: 500;
}
.ant-menu-horizontal:not(.ant-menu-dark) {
  > .ant-menu-item-selected,
  > .ant-menu-item:hover,
  > .ant-menu-submenu:hover,
  > .ant-menu-submenu-active,
  > .ant-menu-submenu-open,
  > .ant-menu-submenu-selected {
    color: #fff;
    border-bottom: none;
  }
  > .ant-menu-item-selected,
  > .ant-menu-submenu-selected {
    background-color: @red1;
  }
  > .ant-menu-item,
  > .ant-menu-submenu {
    margin: 0;
    padding: 0 15px;
  }
  .ant-menu-submenu-title:hover {
    color: #fff;
  }
  .ant-menu-submenu-title .anticon {
    margin: 0;
  }
}
.ant-menu.ant-menu-horizontal {
  .ant-menu-item a {
    color: #929299;
  }
  .ant-menu-item-selected a,
  > .ant-menu-item a:hover {
    color: #fff;
  }
}

/** antd tabs css reset */
.user-tab.ant-tabs {
  color: #fff;
  font-weight: 500;
  .ant-tabs-nav .ant-tabs-nav-wrap,
  div > .ant-tabs-nav .ant-tabs-nav-wrap {
    padding-left: 0;
  }
  .ant-tabs-tab {
    padding: 12px;
    &:hover {
      color: #fff;
    }
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff;
  }
  .ant-tabs-tab-btn {
    transition: none;
  }
  .ant-tabs-ink-bar {
    background-color: @red1;
  }
  &.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
    height: 3px;
  }
  &.ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: 1px solid @borderColor1;
  }
  .ant-tabs-tab-btn:focus,
  .ant-tabs-tab-remove:focus,
  .ant-tabs-tab-btn:active,
  .ant-tabs-tab-remove:active {
    color: #fff;
  }
}

/** antd drawer css reset */
.ant-drawer-header {
  background-color: #000;
  border-bottom: none;
}
.ant-drawer-content {
  background-color: #000;
}
.ant-drawer-body {
  padding: 0;
}
