@import '../styles/variables.less';

.dev {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 30px;
  background-color: @red1;
  color: #fff;
  text-align: center;
  transform: rotate(-30deg) translate(-30px, -3px);
  line-height: 15px;
  font-size: 12px;
  a {
    color: #fff;
  }
}
.pc-header {
  position: relative;
  .header {
    position: relative;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right {
      display: flex;
      align-items: center;
    }
  }
}
.mobile-header {
  display: none;
}
@media screen and (max-width: 786px) {
  .pc-header {
    display: none;
  }
  .mobile-header {
    display: block;
    padding: 32px 0;
    background: url('../assets/bg.png') no-repeat;
    background-size: cover;
    .header {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .search-bar {
      input {
        border-radius: 4px 0 0 4px;
      }
      button {
        border-radius: 0 4px 4px 0;
      }
    }
  }
  .dev {
    transform: rotate(-18deg) translate(-29px, -10px);
  }
}
